In [125]:
import numpy as np
import pandas as pd 
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [126]:
df=pd.read_csv("data/Telco_Customer_Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [121]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [123]:
X=df.drop(
        columns=['customerID','gender','PhoneService',
                'MultipleLines', 'PaperlessBilling','PaymentMethod', 'Churn'
        ], axis=1)
X[:5]

,SeniorCitizen,Partner,Dependents,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges
0,0,Yes,No,1,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85
1,0,No,No,34,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.5
2,0,No,No,2,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15
3,0,No,No,45,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75
4,0,No,No,2,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65

In [ ]:
X.shape

In [124]:
X

,SeniorCitizen,Partner,Dependents,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges
0,0,Yes,No,1,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85
1,0,No,No,34,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.5
2,0,No,No,2,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15
3,0,No,No,45,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75
4,0,No,No,2,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,Yes,Yes,24,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5
7039,0,Yes,Yes,72,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9
7040,0,Yes,Yes,11,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45
7041,1,Yes,No,4,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.6
7042,0,No,No,66,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5

In [114]:
df['SeniorCitizen']=df['SeniorCitizen'].astype(object)

In [115]:
y=df['Churn']

In [ ]:
y

In [130]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=124)

numeric_features = ['tenure']
categorical_features = ['SeniorCitizen', 'Partner', 'Dependents', 
                        'InternetService','OnlineSecurity','OnlineBackup',
                        'DeviceProtection','TechSupport','StreamingTV',
                        'StreamingMovies','Contract']

In [117]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression

without pipeline

In [ ]:
imputer = SimpleImputer(strategy="median")
scaler = StandardScaler()
onehot = OneHotEncoder(handle_unknown="ignore", sparse=False)

In [ ]:
dir(StandardScaler)

In [ ]:
imputer.fit(X_train[numeric_features])
imputed = imputer.transform(X_train[numeric_features])

scaler.fit(imputed)
scaled = scaler.transform(imputed)

In [ ]:
onehot.fit(X_train[categorical_features])
onehotted = onehot.transform(X_train[categorical_features])

In [ ]:
X_train_transformed = pd.DataFrame(np.concatenate((scaled, onehotted), axis=1))

In [ ]:
X_train_transformed

In [ ]:
model = LogisticRegression()
model.fit(X_train_transformed, y_train)

In [ ]:
X_test_filled = imputer.transform(X_test[numeric_features])
X_test_scaled = scaler.transform(X_test_filled)
X_test_onehot = onehot.transform(X_test[categorical_features])
X_test = pd.DataFrame(np.concatenate((X_test_scaled, X_test_onehot), axis=1))
model.score()

In [131]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

numeric_transformer = Pipeline(steps=[
    ('meanimputer', SimpleImputer(strategy="mean")),
    ("stdscaler", StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown="ignore"))
])

col_transformer = ColumnTransformer(
    transformers=[('numeric_proc', numeric_transformer, numeric_features), 
                  ('cat_proc', categorical_transformer, categorical_features)
])

pipeline = Pipeline([
    ('col_tx', col_transformer),
    ('logit_regression', LogisticRegression())
])

pipeline.fit(X_train, y_train)
pipeline.score(X_test, y_test)

0.807382867960246

In [135]:
from sklearn import set_config
from sklearn.utils import estimator_html_repr

set_config(display='diagram')
pipeline
with open("pipeline.html", "w") as f:
    f.write(estimator_html_repr(pipeline))

In [ ]:
pipeline.named_steps

In [ ]:
pipeline.named_steps['col_tx'].transformers_[0]

In [ ]:
pipeline.named_steps['col_tx'].transformers_[1]